@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url-prefix("https://gitlab.com"),
url-prefix("http://gitlab.com"),
url-prefix("https://ci.gitlab.com"),
url-prefix("http://ci.gitlab.com")
{
  body {
    background-color: #272727;
    color: #AAA;
  }
  
/* global ---------- */
  .content-wrapper {
    background: none repeat scroll 0% 0% #424242;
  }

  .light, .description-block {
    color: #D9D9D9;
  }
      
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-right: 0px none;
    border-width: 2px 0px 0px;
    border-style: solid none none;
    border-color: #8BB1D7;
    border-image: none;
  }
  
  a {
    color: #3B8EDA;
  }
  
  a:hover {
    color: #184880;
    text-decoration: none;
  }

  .slead {
    color: #DDD;
  }
  
  pre {
    color: #D9D9D9;
  }
  
  .page-title {
    color: #AAA;
  }
  
  .project-title {
    color: #D9D9D9;
  }
  
  .commit-info .attr-name {
    color: #FFF;
  }
  
  .lists-separator {
    border-color: #8BB1D7;
  }
  
  ul.bordered-list li {
    border-bottom: 1px solid #3B8EDA;
  }
  
  .project-side .btn-block .btn, .project-side .btn-block .commits-compare-switch, .project-side .btn-block.btn, .project-side .btn-block.commits-compare-switch {
    background-color: #777;
    border: 2px solid #184880;
  }
  
  .project-side .btn-block .btn:hover, .project-side .btn-block .commits-compare-switch:hover, .project-side .btn-block.btn:hover, .project-side .btn-block.commits-compare-switch:hover {
    background-color: #AAA;
    border-color: #184880;
  }
  
  .project-home-panel .project-home-row .project-home-desc {
    float: left;
    color: #AAA;
  }
  
  .breadcrumb.repo-breadcrumb {
    padding: 3px 0px;
    background: none repeat scroll 0% 0% #343434;
    border: 1px solid #184880;
    font-size: 16px;
  }
  
  #README {
    background-color: #343434;
    padding: 0px 20px 5px 20px;
  }
  
  .tree-holder .tree-content-holder #tree-slider {
    background-color: #343434;
  }
  
  .tree-holder .tree-content-holder #tree-slider thead {
    background-color: #272727;
  }
  
  .fa-star {
    color: #FF9C00;
  }
  
  .fa-globe, .icon-globe {
    color: #01AE85 !important;
  }
  
  .fa-github {
    color: #000;
  }
  
  .fa-bitbucket {
    color: #3378A2;
  }
  
  .fa-calendar {
    color: #FFF;
  }
  
  legend {
    color: #3378A2;
  }
  
  .str-truncated {
    color: #D9D9D9;
  }
  .global-notifications-form .level-title {
    font-size: 15px;
    color: #272727;
    font-weight: bold;
  }
  /* Alert ---------- */
  .alert-info, .flash-container .flash-notice {
    background-color: #3B8EDA;
    border-color: #3378A2;
    color: #FFF;
  }
  
  .alert-warning, .broadcast-message, .broadcast-message-view {
    background-color: #E68D00;
    border-color: #FF9C00;
    color: #875D15;
  }
  
  .alert {
    border: 0px solid transparent;
  }
  
  /* panel ---------- */
  .panel-default {
    border: 2px solid #184880;
  }
  
  .panel {
    background-color: #777;
  }
  
  .panel-default > .panel-heading {
    color: #222;
    background-color: #AAA;
    border: none;
  }
  
  .nothing-here-block {
    text-align: center;
    padding: 20px;
    color: #D9D9D9;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
  }
  
  panel:hover {
    background-color: #272727 !important;
  }
  
/* commit ---------- */
  
  li.commit .commit-row-info {
    color: #D9D9D9;
  }
  
  li.commit .commit-row-info a {
    color: #AAA;
  }
  
  li.commit .commit-row-info a:hover {
    color: #777;
  }
  
  li.commit .commit-row-title {
    color: #FFF;
  }
  
  li.commit .commit-row-title:hover {
    color: #AAA;
  }
  
  li.commits-stat {
    color: #FFF !important;
  }
  
  li.commits-stat:hover {
    color: #AAA !important;
    border-bottom: none !important;
  }
  
  li.commit .commit-row-description {
    border-left: 2px solid #D9D9D9;
    background: none repeat scroll 0% 0% #777;
  }
  
  li.commit .commit-row-title .commit-row-message {
    color: #AAA;
  }
  
  li.commit .commit-row-title .commit-row-message:hover {
    text-decoration: none;
    color: #777;
  }
  
  li.commit .commit-row-title .text-expander {
    background: none repeat scroll 0% 0% #272727;
    color: #D9D9D9;
  }
  
  li.commit .commit-row-title .text-expander:hover {
    background: none repeat scroll 0% 0% #343434;
    color: #D9D9D9;
  }
  
/* Network ---------- */
  .project-network {
    border: 2px solid #184880;
}
  
  .project-network .controls {
    border-bottom: 2px solid #184880;
    background: none repeat scroll 0% 0% #343434;
  }
  
  .project-network .network-graph {
    background: none repeat scroll 0% 0% #D9D9D9;
  }
  
/* File holder ---------- */
  .file-holder {
    border: 1px solid #184880;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 1em;
  }
  
  .file-holder .file-title {
    background: none repeat scroll 0% 0% #343434;
    border-bottom: 1px solid #3B8EDA;
    text-shadow: 0px 1px 1px #000;
    border-radius: 5px 5px 0px 0px;
  }
  
/* File editor ---------- */
  .file-editor .editor-ref {
    background: none repeat scroll 0% 0% #272727;
    border-right: 1px solid #3378A2;
  }

  .ace-tm .ace_gutter {
    background: none repeat scroll 0% 0% #343434;
    color: #AAA;
  }
  
  .ace-tm .ace_gutter-active-line {
    background-color: #777;
  }
  
  .ace_content {
    background-color: #AAA;
    color: #000;
  }

  .ace-tm .ace_print-margin {
    background: none repeat scroll 0% 0% #777;
  }
  
  .ace-tm .ace_marker-layer .ace_active-line {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.22);
  }
  
  .commit-message-container {
    border-radius: 6px;
  }
  
  .commit-message-container > textarea {
    background-color: #AAA;
  }
  
/* header ---------- */
  header.navbar-gitlab .navbar-inner {
    background: none repeat scroll 0% 0% #343434 !important;
    border-bottom: 2px solid #184880 !important;
  }
  
  /* left ---------- */
  header.navbar-gitlab .navbar-inner .app_logo {
    background-color: #184880 !important;
  }
  
  header.navbar-gitlab .navbar-inner .app_logo:hover {
    background-color: #272727 !important;
  }
  
  header.navbar-gitlab .navbar-inner .title a {
    color: #8BB1D7 !important;
  }
  
  header.navbar-gitlab .navbar-inner .title a {
    color: #8BB1D7 !important;
  }
  
  header.navbar-gitlab .navbar-inner .title a:hover {
    text-decoration: none !important;
    color: #8BB1D7 !important;
  }
  
  /* right ---------- */
  header.navbar-gitlab .navbar-inner .search .search-input {
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid #184880 !important;
    color: #FFF;
  }
  
  header.navbar-gitlab .navbar-inner .search .search-input:focus {
    color: #343434;
    background-color: #AAA !important;
  }
  
  header.navbar-gitlab .navbar-inner .nav > li > a {
    color: #8BB1D7 !important;
  }
  
  header.navbar-gitlab .navbar-inner .nav > li > a:hover {
    color: #3B8EDA !important;
  }
  
  header.navbar-gitlab .navbar-inner .navbar-toggle {
    color: #8BB1D7 !important;
  }
  
  header.navbar-gitlab .navbar-inner .navbar-toggle:hover {
    color: #3B8EDA !important;
  }
  
  .ui_color header.navbar-gitlab .navbar-inner .app_logo:hover, .ui_color header.navbar-gitlab .navbar-inner .navbar-toggle:hover {
    background-color: #184880;
  }
  
/* sidebar ---------- */
  .page-with-sidebar .sidebar-wrapper {
    border-right: 2px solid #184880;
  }
  
  .sidebar-wrapper {
    background: none repeat scroll 0% 0% #343434;
  }
  
  .nav-sidebar li.separate-item {
    border-top: 2px solid #3B8EDA;
  }
  
  .nav-sidebar li a {
    text-shadow: 0px 1px 3px #000;
    color: #3B8EDA;
  }
  
  .nav-sidebar li a:hover {
    background: none repeat scroll 0% 0% #424242;
    color: #8BB1D7;
  }
  
  .nav-sidebar li.active a {
    color: #D42828;
    background: #424242 !important;
    text-shadow: 0px 1px 3px #000;
    border-bottom: 2px solid #184880;
    border-top: 2px solid #184880;
    border-left: 2px solid #D9D9D9;
  }
  
  .nav-sidebar li a i {
    color: #B13838;
  }
  
  .nav-sidebar li.active a i {
    color: #3B8EDA;
  }
  
  .nav-sidebar li a .count {
    background: none repeat scroll 0% 0% #777;
    color: #FFF;
  }
  
  .collapse-nav a:hover {
    text-decoration: none;
    background: none repeat scroll 0% 0% #3B8EDA;
  }
  
  .collapse-nav a {
    border: none;
    font-size: 12.5px;
    background: none repeat scroll 0% 0% #184880;
  }
  
/* dashboard ---------- */
  .dashboard-intro-icon {
    color: #3378A2;
  }

  .event-item .event-body {
    font-size: 13px;
    color: #FFF;
  }
  
/* nav-tab ---------- */
  .nav-tabs, ul.nav.nav-projects-tabs {
    border-bottom: 2px solid #184880;
  }
  
  .nav.nav-tabs li.active > a, ul.nav.nav-projects-tabs li.active > a {
    border: 2px solid #184880;
    border-bottom-color: #184880;
    color: #424242;
    background-color: #D9D9D9;
  }
  
  .nav.nav-tabs li.active > a i {
    color: #3B8EDA;
  }
  
  .nav-tabs > li.active > a, ul.nav.nav-projects-tabs > li.active > a, .nav-tabs > li.active > a:hover, ul.nav.nav-projects-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, ul.nav.nav-projects-tabs > li.active > a:focus {
    color: #272727;
    background-color: #AAA;
    border-width: 2px;
    border-style: solid;
    cursor: default;
  }
  
  .nav.nav-tabs li > a, ul.nav.nav-projects-tabs li > a {
    border: 2px solid #3378A2;
    border-bottom-color: #184880;
    color: #D9D9D9;
    background-color: #343434;
  }
  
  .nav.nav-tabs li > a i {
    color: #D42828;
  }
  
  .nav-tabs > li > a, ul.nav.nav-projects-tabs > li > a, .nav-tabs > li > a:hover, ul.nav.nav-projects-tabs > li > a:hover, .nav-tabs > li > a:focus, ul.nav.nav-projects-tabs > li > a:focus {

    background-color: #424242;
    border-width: 2px;
    border-style: solid;
  }
  
  .issues-state-filters li.active a {
    border-color: #184880 !important;
  }
  
  .issues-state-filters li.active a, .issues-state-filters li.active a:hover, .issues-state-filters li.active a:active, .issues-state-filters li.active a.active {
    border-bottom: 1px solid #184880 !important;
  }
  
/* nav-pills ---------- */
  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #FFF;
    background-color: #184880;
    cursor: default;
  }
  
  .nav-tabs > li > a, ul.nav.nav-projects-tabs > li > a, .nav-pills > li > a {
    color: #AAA;
  }
  
  .nav-tabs > li > a:hover, ul.nav.nav-projects-tabs > li > a:hover, .nav-pills > li > a:hover {
    color: #343434;
    background-color: #AAA;
  }
  
/* Event filter ---------- */
  
  .event_filter li a {
    color: #272727;
    background: none repeat scroll 0% 0% #FFF;
  }
  
  .event_filter li a .fa {
    color: #D42828;
  }
  
  .event_filter li.active a .fa {
    color: #3B8EDA;
  }
  
/* Well List ---------- */
  .well-list li:hover{
    color: #424242;
    background:#AAA;
    border-bottom:1px solid #AAA
  }
  
  .well-list li {
    color: #D9D9D9;
    padding: 10px 15px;
    min-height: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .well-list li a {
    color: #8BB1D7;
  }
  
  .well-list li:hover a {
    color: #3378A2;
  }
  
  .well-list li.bottom:last-child {
    background: none repeat scroll 0% 0% #424242;
  }
  
  .light-well {
    background: none repeat scroll 0% 0% #343434;
    padding: 15px;
  }
  
  .well {
    background-color: #343434;
    border: 1px solid #184880;
    border-radius: 4px;
  }
  
  .well-list li .author {
    color: #DDD;
  }
  
  .blob-commit-info .commit .commit-row-title .commit-row-message {
    font-weight: normal;
    color: #777;
  }
  
  .blob-commit-info .commit .commit-row-title .commit-row-message:hover {
    color: #424242;
    text-decoration: none;
  }
  
  /* Issues ---------- */

  .issues-details-filters {
    background: none repeat scroll 0% 0% #343434;
    border-left: 2px solid #184880;
    border-right: 2px solid #184880;
  }
  
  .issues-list .issue .issue-info {
    color: #FFF;
  }
  
  .merge-request.closed, .issue.closed {
    background: none repeat scroll 0% 0% #666;
    border-color: #E5E5E5;
  }
  
  /* Right sidebar ---------- */
  
  .issuable-affix .slead {
    color: #3B8EDA;
  }
  
  .issuable-affix {
    background: #343434;
    padding: 7px;
  }
  
  .issuable-context-title label {
    color: #D9D9D9;
    font-weight: normal;
    margin-right: 4px;
  }
  
  .issuable-context-title {
    color: #FFF;
    font-weight: normal;
    margin-right: 4px;
  }
  
  .description-block {
    background: none repeat scroll 0% 0% #272727;
    padding: 15px;
  }
  
/* Common-note-form ---------- */
  
  .common-note-form {
    background: none repeat scroll 0% 0% #666;
    border: 2px solid #184880;
  }
  
  .markdown-area {
    background: none repeat scroll 0% 0% #DDD;
    border: 1px solid #184880;
    color: #343434;
  }
  
  .markdown-area::-moz-placeholder {
    color: #666 !important;
    opacity: 0.9;
  }
  
  .zennable .zen-enter-link {
    color: #D9D9D9;
  }
  
  .zennable input:checked ~ .zen-backdrop {
    background-color: #424242;
  }
  
  .common-note-form .md-preview-holder {
    background: none repeat scroll 0% 0% #DDD;
    border: 1px solid #184880;
    color: #343434;
  }
  
  .comment-hints {
    color: #222;
    background: none repeat scroll 0% 0% #DDD;
    border: 1px solid #184880;
  }
  
  .note-form-actions {
    background: none repeat scroll 0% 0% #666;
    height: 45px;
  }
  
  /* Timeline ---------- */
  .timeline .timeline-entry .timeline-entry-inner .timeline-content {
    position: relative;
    background: none repeat scroll 0% 0% #666;
    padding: 10px 15px;
    margin-left: 60px;
    color: #D9D9D9
  }
  
  .cgray, li.commit.inline-commit .committed_ago, ul.notes .discussion-header, ul.notes .note-header, .discussion .discussion-actions a, .discussion .note-actions a, .note .discussion-actions a, .note .note-actions a {
    color: #FFF;
  }
  
  ul.notes .discussion-header .author, ul.notes .note-header .author {
    color: #222;
    font-weight: bold;
  }
  
  ul.notes .discussion-header .author:hover, ul.notes .note-header .author:hover {
    color: #222;
    font-weight: bold;
  }
  
/* Buttun/Form ---------- */
  .btn-success, .btn.btn-new, .btn-new.commits-compare-switch, .btn.btn-create, .btn-create.commits-compare-switch, .commits-compare-switch.comment-btn, .btn.comment-btn {
    color: #FFF;
    background-color: #008C6B;
    border-color: #017F62;
  }
  
  .btn-danger:hover, .btn.btn-remove:hover, .btn-remove.commits-compare-switch:hover, .btn-danger:focus, .btn.btn-remove:focus, .btn-remove.commits-compare-switch:focus, .btn-danger.focus, .focus.btn.btn-remove, .focus.btn-remove.commits-compare-switch, .btn-danger:active, .btn.btn-remove:active, .btn-remove.commits-compare-switch:active, .btn-danger.active, .active.btn.btn-remove, .active.btn-remove.commits-compare-switch, .open > .btn-danger.dropdown-toggle, .open > .dropdown-toggle.btn.btn-remove, .open > .dropdown-toggle.btn-remove.commits-compare-switch {
    color: #343434 !important;
    background-color: #C63434;
    border-color: #AC2925;
    text-decoration: none;
  }
  
  .btn-danger, .btn.btn-remove, .btn-remove.commits-compare-switch {
    color: #FFF;
    background-color: #D42828;
    border-color: #B13838;
  }
  
  .btn-default, .btn, .commits-compare-switch {
    color: #D9D9D9 !important;
    background-color: #777;
    border-color: #343434;
  }
  
  .btn-default:hover, .btn:hover, .commits-compare-switch:hover, .btn-default:focus, .btn:focus, .commits-compare-switch:focus, .btn-default.focus, .focus.btn, .focus.commits-compare-switch, .btn-default:active, .btn:active, .commits-compare-switch:active, .btn-default.active, .active.btn, .active.commits-compare-switch, .open > .btn-default.dropdown-toggle, .open > .dropdown-toggle.btn, .open > .dropdown-toggle.commits-compare-switch {
    color: #343434 !important;
    background-color: #AAA;
    border-color: #272727;
  }
  
  .select2-default {
    color: #343434 !important;
  }
  
  .dropdown-menu {
    background-color: #AAA;
    border: 1px solid #3378A2;
    border-radius: 4px;
    box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.176);
  }
  
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: none repeat scroll 0% 0% #3378A2;
    color: #FFF;
  }
  
  .dropdown-menu > li > a {
    color: #333;
  }
  
  .form-control {
    color: #272727;
    background-color: #AAA;
    background-image: none;
    border: 2px solid #3378A2;
    border-radius: 7px;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.075) inset;
  }
  
  ::-moz-placeholder {
    color: #D9D9D9 !important;
    opacity: 0.9;
  }
  
  .input-group-addon {
    padding: 6px 14px;
    color: #222;
    background-color: #AAA;
    border: 2px solid #3378A2;
    border-radius: 7px;
  }
  
  .input-group-btn .btn {
    border: 1px solid #3378A2;
    border-radius: 7px;
  }
  
  .form-actions {
    padding: 17px 20px 18px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #424242;
    border-top: 1px solid #3378A2;
  }
  
  .form-actions {
    padding-left: 17%;
  }
  
  .select2-container .select2-choice, .select2-container.select2-drop-above .select2-choice {
    background: none repeat scroll 0% 0% #AAA;
    border-color: #3B8EDA;
    color: #272727;
  }
  
  .select2-container .select2-choice .select2-arrow, .select2-container.select2-drop-above .select2-choice .select2-arrow {
    background: none repeat scroll 0% 0% #AAA;
    border-left: 1px solid #424242;
  }
  
  .select2-drop-active {
    border: 2px solid #184880 !important;
    background-color: #AAA;
  }
  
  .select2-drop-active .select2-search input {
    background: none repeat scroll 0% 0% #D9D9D9;
    border-color: #3B8EDA;
  }
  
  .select2-results .select2-highlighted {
    color: #D9D9D9;
  }
  
  .select2-drop-active .select2-results .select2-highlighted {
    background: none repeat scroll 0% 0% #184880;
  }
  
  .select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
    background: none repeat scroll 0% 0% #AAA;
  }
  
  .issue-search-form .issue_search {
    border: 2px solid #184880 !important;
    background-color: #777;
  }
  
  .form-control:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 10px #3378A2;
    color: #272727;
    background-color: #AAA;
  }
  
/* CI Gitlab ---------- */
  .builds {
    background-color: #AAA;
    border: 2px solid #184880;
  }
  
  .builds a {
    color: #3378A2;
  }
  
  .builds thead {
    background-color: #343434;
    border: 2px solid #184880;
  }

  .build-widget {
    background-color: #D9D9D9;
  }
  
  .build-widget p {
    color: #777;
  }
  
  .build-widget .attr-name {
    color: #424242
  }
  
  .alert-success {
    background-color: rgb(106, 158, 86);
    border-color: #184880;
    color: #006802;
  }
  
  .alert-danger {
    background-color: rgb(185, 136, 136);
    color: #B10300;
  }
  
  .alert-disabled {
    background-color: #AAA;
    border-color: #EBCCD1;
    color: #424242;
  }
  
  table.table tr td, table.builds tr td {
    border-color: #3B8EDA !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  
  .pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    background-color: #777;
  }
  
  .pagination > li > a, .pagination > li > span {
    background-color: #AAA;
    border: 1px solid #777;
  }
  
  .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    color: #FFF;
    background-color: #184880;
    border-color: transparent;
    cursor: default;
  }
  
  .projects a, .build a {
    color: #184880;
  }
  
  .bs-callout {
    border-left: 3px solid #EEE;
    color: #424242;
    background: none repeat scroll 0% 0% #AAA;
  }
  
  .bs-callout-info {
    background-color: #AAA;
    border-color: #3B8EDA;
    color: #34789A;
  }
}